.selector-a { background-image: url(sprite.basic-color.png); background-position: 0 0; }
.selector-b { background-image: url(sprite.basic-color.png); background-position: -25px 0; background-color: #000; }
.selector-c { background-image: url(sprite.basic-color.png); background-position: -25px 0; background-color: rgba(255, 255, 255, .2); }
