.selector-a { background-image: url(sprite.retina.png); background-position: 0 0; }
.selector-b { background-image: url(sprite.retina.png); background-position: -25px 0; }

@media (max-width: 767px) {
	.selector-a { background-image: url(sprite.retina.@2x.png); background-position: 0 0; background-size: 50px 25px; }
	.selector-b { background-image: url(sprite.retina.@2x.png); background-position: -25px 0; background-size: 50px 25px; }
}
