.selector-a { background-image: url(sprite.png); background-position: 0% 0%; background-size: 200% 100%; }
.selector-b { background-image: url(sprite.png); background-position: 100% 0%; background-size: 200% 100%; }
