.selector-a { background-image: url(sprite.png); background-position: 0px 0px; background-color: #000; }
.selector-b { background-image: url(sprite.png); background-position: -25px 0px; background-color: #000; }
