.selector-a { background-image: url(sprite.shapes.png); background-position: 0px 0px; background-size: 50px 25px; }
.selector-b { background-image: url(sprite.shapes.png); background-position: -25px 0px; background-size: 50px 25px; }
