.selector-a { background-image: url(circle.png); }
.selector-b { background: url(square.png) no-repeat 0 0; }
.selector-c { background: #fff url(not-exist.png) no-repeat 0 0; }

@media (max-width: 767px) {
	.selector-a { background: url(circle@2x.png) no-repeat 0 0; }
	.selector-b { background: url(square@2x.png) no-repeat 0 0; }
	.selector-c { background-image: url(not-exist@2x.png); }
}
