.selector-a { background-image: url(circle.png); }
.selector-b { background: url(square.png) no-repeat 0 0; }
.selector-c { background: url(a.jpg) no-repeat 0 0; }
.selector-d { background: url(b.jpg) no-repeat 0 0; }
